<!DOCTYPE html>
<html lang="zh">
<head>
	<title>Lookup48</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body>

<div class="well" ng-app="app" ng-controller="dictCtrl">
	<input class="form-control" type="text" ng-model="filter_text" placeholder="输入缩写，如 qj">
	<p ng-show="filter_text">找到{{ matches.length }}个结果</p>
	<div ng-show="filter_text" ng-repeat="entry in db | filter:filter_text | orderBy:'abbr.length' as matches">
		<div class="input-group">
			<span class="input-group-addon">{{entry.abbr}}</span>
			<span class="form-control">{{entry.content}}</span>
		</div>
	</div>
</div>

<script src="dict.js"></script>

</body>
</html>