* {
  font-family: Arial, Helvetica, "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", sans-serif;
}

#canvas_container {
  /* resolution should be 1146 x 717 */
  position: relative;
  width: 1146px;
  height: 717px;
  background-image: url('backdrop-x.jpg');
}

#title_text {
  color: #666666;
  position: absolute;
  font-size: 32px;
  cursor: move;
  left: 666px;
  top: 155px;
}

.slot {
  position: absolute;
  cursor: move;
  background-image: url('ip7case.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.pic {
  position: absolute;
  width: 88%;
  margin-left: 6%;
  height: 76%;
  margin-top: 24%;
  cursor: move;
}

/* desktop decorations  */

#decor-coffee {
  position: absolute;
  top: -20px;
  left: 866px;
  cursor: move;
}

#decor-pen {
  position: absolute;
  top: 129px;
  left: 1004px;
  cursor: move;
}

#decor-pencil {
  position: absolute;
  top: 45px;
  left: 1058px;
  cursor: move;
}

/* desktop calendar  */

#calendar-div {
  position: relative;
  /* background-color: lightblue; */
  margin: 10px;
  width: 140px;
  height: 180px;
  transform: rotate(-9deg);
  -webkit-transform: rotate(-9deg);
  -moz-transform: rotate(-9deg);
  -ms-transform: rotate(-9deg);
  -o-transform: rotate(-9deg);
}

#calendar-date {
  position: absolute;
  margin-left: 10px;
  /* background: #666666; */
  font-weight: bold;
  margin-top: 20px;
  width: 140px;
  text-align: center;
  font-size: 100px;
}

#calendar-month {
  position: absolute;
  width: 160px;
  margin-top: 140px;
  /* background: #ccc; */
  text-align: center;
  font-size: 32px;
}

/* drag to upload pics: */

.dashed-box {
  border: 5px dashed #ccc;
  border-radius: 20px;
  width: 1096px;
  padding: 20px;
}

.dashed-box.highlight {
  border-color: #b1d61b;
}

#gallery {
  margin-left: 10px;
}

#gallery img {
  height: 60px;
  margin: 10px;
  vertical-align: middle;
}

.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button:hover {
  background: #b1d61b;
}

#file-selector-hidden {
  display: none;
}